version: '3.8'
 
services:
  db:
    image: postgres:14
    command: ["postgres", "-c", "listen_addresses=*"]
    env_file: .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
 
  backend:
    build: .
    command: ./entrypoint.sh
    env_file: .env
    volumes:
      - .:/app
    ports:
      - "8001:8001"
 
volumes:
  postgres_data: